<style type="text/css">
  @page { size: US-Letter landscape;
  margin-top: .5in;
  margin-bottom:.5in;
  margin-left:.5in;
  margin-right:.5in;
  padding: 0px }
  
  
  h5{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    padding: 0px;
      margin: 0px
}
    body, p {
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: Arial;

       }
     table {
            table-layout: fixed;
    width: 10in;
    border-collapse: collapse
   

     
}
td { border: solid 0px black }
td.solid { border: solid 1px black }
col#Notes {
 
  width: 300px;
}
col#Address {
 
  width: 250px;
}
col#C, col#P, col#X, col#S, col#AT, col#EX {
 
  width: 20px;
}
col#P-ID, col#O-ID, col#Code, col#Price  {

  width: 40px;
}
col#In Time, col#Out Time  {

  width: 30px;
}
  </style>


  <% @orders_today.each do |order_today| %>
  <table>
    

    <tr> <td COLSPAN=13 ALIGN=right> <h5>Schedule Cover Sheet </h5></td></tr>
 
    <tr> <td  COLSPAN=4  ALIGN=left> <%= order_today[:Route].RouteName %> </td> </tr>

 <%  order_today[:user].each do |c| %>
    <tr><td COLSPAN=7 ALIGN=left><%=h c.Username %> <%=h  c.Phone1 %></td> </tr>
  <%end%>
    <tr> <td  COLSPAN=7 ALIGN=left> <h5><%= order_today[:schedules].count %> Orders Today for <%= number_to_currency(order_today[:sum]) %></h5> </td></tr>
   <colgroup>
    <col id= "P-ID" />
    <col id= "O-ID" />
    <col id= "AT" />
    <col id= "EX" />
    <col id= "In Time" />
    <col id= "Out Time" />
    <col id= "Address" />
    <col id= "Code" />
    <col id= "Price" />
    <col id= "C" />
    <col id= "P" />
    <col id= "X" />
    <col id= "S" />
    <col id="Notes" />
  </colgroup>
 <tr>
   <td >P-ID</td>
    <td>O-ID</td>
    <td>AT</td>
    <td>EX</td>
    <td>In Time</td>
    <td>Out Time</td>
    <td>Address</td>
    <td>Code</td>
    <td>Price</td>
    <td>C</td>
    <td>P</td>
    <td>X</td>
    <td>S</td>
    <td>Notes</td>
 </tr>
 
		 <%  order_today[:schedules].each do |b| %>
   <tr>
  <%  b.Orders.each do |os| %>

  <td class ="solid"><%=h os.PropertyId %></td>
 <td class ="solid"><%=h os.OrderId %></td>
 <td class ="solid"><%= "AT"  if b.Anytime == true %></td>
 <td class ="solid"><%= "Exact" if b.Exact == true %></td>
 <td class ="solid"><%=h b.StartTime.strftime("%I:%M %p") if b.Anytime == false %></td>
 <td class ="solid"><%=h b.EndTime.strftime("%I:%M %p") if b.Anytime == false %></td>
 <td class ="solid"><%=h os.Property.Address.StreetNumber%>
    <%=h os.Property.Address.Direction %>
    <%=h os.Property.Address.Street %>
    <%=h os.Property.Address.UnitNumber %>
    <%=h os.Property.Address.City %>,
    <%=h os.Property.Address.StateId %>
    <%=h os.Property.Address.ZipCodeId %></td>
 <td class ="solid"><%=h os.Servicecode.Code %></td>
 <td class ="solid"><%= number_to_currency(os.Price) %></td>
 <td class ="solid"> </td>
 <td class ="solid"> </td>
 <td class ="solid"> </td>
 <td class ="solid"> </td>
 <td class ="solid"><%=h os.SpecialInstructions %></td>
 </tr>
  
<%end%>
  <%end%>

     </table>
<div style="page-break-after: always" > </div>
<%end%>
 
  




