
  <tbody>
         <tr>
        <td><%= ch.Chemical.ChemicalName %></td>
     <td><%= ch.Qty%> <%= ch.Chemical.Measurement %></td>
          <td><%= ch.Chemical.Percentage %></td>
     <td><%= ch.Chemical.EPANumber %></td>
   
     

     

          </tr>

  </tbody>
