<style type="text/css">
#the_table {
       FONT-SIZE: 8pt;
       color: black;
 width: 500%

  }
  td.nowrap{
    overflow: hidden;
    white-space: nowrap;
    width: 500px
      
}

.ui-btn-text {
white-space: nowrap;
}

.fuck {
  FONT-SIZE: 8pt;
       color: red;
       white-space: nowrap;
        width: 200px

}
 </style>

<script type="text/javascript">
$(document).ready(function(){
   $("#click").click(function(event){
     alert("Thanks for visiting!");
   });
 });
</script>
<div id="hidetable" style="display: none">
<div id="target">
  Click here
</div>
<!DOCTYPE html>
<div id="hans">  </div>
 <% @chemicals.each do |ch| %>
<div id="click"><p>  <%= ch.name %>
     <%= ch.Measurement  %>
     <%= ch.Percentage  %>
    </div>

<%= form_tag url_for(:action => :add_to_cart, :id => ch), :remote => true do %>
 <%= text_field_tag :item_quantity, params[:item_quantity]%> <%= submit_tag "add", :name => nil %>



</p>
 <%end%>
 <%end%>



<table  id='the_table'  >

  <thead>
    <tr>
       <th>Add</th><th>Name</th><th>Measurement</th><th>Percentage</th><th>EPA</th>
    </tr>
  </thead>
  <tbody>
   <% @chemicals.each do |ch| %>
       <tr >
 

 <td class = "fuck" >
   <%= form_tag url_for(:action => :add_to_cart, :id => ch), :remote => true do %>
 <%= submit_tag "add", :name => nil %> <a style="color:blue;text-align:center" data-role="none"><%= text_field_tag :item_quantity, params[:item_quantity], :class => 'fuck'%></a>
  </td>

<% end %>
   <td><a style="color:blue;text-align:center"><%= ch.name %> </a></td>
     <td><%= ch.Measurement  %></td>
     <td><%= ch.Percentage  %></td>

         </tr>
    <% end %>
  </tbody>
</table>

  </div>

<%= semantic_form_for @orderpad, :id=> 'form' , :remote => true, :class=>:form, :html => {:id => 'main_input' } do |form| %>

 <%= form.input :Chemicals, :as => :check_boxes, :collection => @chemicals, :label => "Chemicals" %>
  <table>
    <tr>
      <td> ChemicalId</td>
     <td> Name</td>
      <td> Quantity</td>
       <td> Measurement</td>
        <td> Percentage</td>

     </tr>
<% for chemical in @chemicals %>

     <tr>

       <td> <%= check_box_tag 'order[Chemical_ids][]', chemical.id, false, :id=> chemical.id %> </td>
       <td><%= chemical.name %> </td>
  <td><%= text_field_tag 'order[Chemical_ids][][Quantity]' %> </td>
           <td><%= chemical.Measurement %> </td>
       <td><%= chemical.Percentage %> </td>

  <%end %>
 </tr>
</table>
 
 <%= form.commit_button "Check-In"%>
     <%end %>

