<!DOCTYPE html>
<html>
	<head>
      
	<script src="http://www.google.com/jsapi?key=ABQIAAAABYFhw_d5kkIWIfIOed6FAxREy0zhY_fmbTyGGVshEZPpl12qzhSWOjInvgKv-6bfuyexyRl4DrbW0g&sensor=true"></script>

      <%#= javascript_include_tag :defaults %>
	 <%= javascript_include_tag  "jquery", "rails.js",  "custom-scripting.js", 'popup.js', 'application.js', "jquery.validate.js", "anytimec.js" %>
       <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
         <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />

     <%= stylesheet_link_tag 'anytimec' %>
	   
       
    
      <%= stylesheet_link_tag 'popup'%>

          <%= csrf_meta_tag %>
      
</head>



<body>

  <div data-role="page" >

<div data-role="header">
		<h1>Check-In</h1>
<%= link_to 'Home', :controller=> "orders", :action => "coversheet" %>
<%= link_to "Logout", :logout,  "data-role" => "button"%>
         

	</div><!-- /header -->

 


<p style="color: red"><%= notice %></p>

<%= yield %>

 





	

 </div><!-- /page -->
 </body>
</html>