<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>PestNow</title>

		<%= javascript_include_tag 'jq/jquery-1.4.2.min.js','jq/themes/southstreet/jquery-ui-1.8.2.custom.min.js'%>
		<%= javascript_include_tag 'jq/jquery.ui.tabs.js'%>
		<%= javascript_include_tag 'jq/plug/jquery.dataTables.js'%>
		<%= javascript_include_tag 'jq/plug/autoNumeric-1.6.1.js'%>		
		<%= javascript_include_tag 'pn/main.js'%>

		<%= stylesheet_link_tag 'south-street/jquery-ui-1.8.2.custom'%>
		<%= stylesheet_link_tag 'formtastic'%>
		<%= stylesheet_link_tag 'datatable'%>
		<%= stylesheet_link_tag 'main'%>

		<script type="text/javascript">
		jQuery(document).ready(function(){
			PN.setupPage();
			jQuery('#search_property').focus();
			jQuery('#search_property').blur(function(){if ($('#search_property').val()) {$('#form-search-prop').submit();}});
		});
		
		</script>

	</head>
	<body>
		<div id='main'>
			<div id='nav'>
				<a href="/">
					<%=image_tag 'logo.png', :id=>'logo'%>
				</a>
				<div id='search'>
					<% form_for :search, :url=>'/search/property', :html => {:id => "form-search-prop"} do |form| %>
						<%= form.label :property, "Property:"%>
						<%= form.text_field :property, :style=>"width:100px;margin-right:10px;"%>
					<% end -%>
				</div>
				<div id='side-nav'>
					My Menu functionality will go here
				</div>
			</div>
			<div id='content-holder' class='normal'>
				<div id="content">
					<%=yield%>
				</div>
			</div>
			<div id='todo'>
			</div>
			<div id="busy">Working...</div>
			<div id="msg"></div>
			<div id="dialog"></div>
		</div>

	</body>
</html>
